.postsBlock .createPost {
    padding: 1rem 5rem 1rem 1.5rem;
    /*margin: 1rem 0; !* can fix card locate *!*/
    width: 557px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.postsBlock .createPost .createPostForm .createPostAddButton {
    padding: 0;
    flex: 1 1 auto;
}

.postsBlock .createPost .createPostForm .createPostAddButton button {
    font-weight: 600;
    color: #adb5bd;
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 12px;
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.postsBlock .createPost .createPostForm .createPostAddButton button i {
    color: #1e74fd;
    margin-right: 0.5rem;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    background-color: #f5f5f5;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.postsBlock .createPost .createPostForm .createPostAddButton button i .editIco {
    margin: 8px;
    padding: 0;
}

.postsBlock .createPost .createPostForm .avatarInput {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    top: 60px;
}

.postsBlock .createPost .createPostForm .avatarInput img {
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    width: 30px;
    vertical-align: middle;
}

.postsBlock .createPost .createPostForm textarea {
    font-weight: 500;
    color: #adb5bd;
    padding-left: 3rem;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #f1f1f1;
    font-size: 12px;
    height: 100px;
    resize: none;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    outline: none;
}

@media (max-width: 1280px) {
    .postsBlock .createPost {
        width: 398px;
    }
}