.sectionAboutWrapper {
    margin-bottom: 1rem;
    width: 280px;
    height: 530px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border-radius: 15px !important;
    box-shadow: 0 8px 30px rgb(0 0 0 / 5%);
    outline: none;
}

.sectionAboutWrapper .aboutBlock {
    padding: 1.5rem;
    display: block;
    flex: 1 1 auto;
    outline: none;
}

.sectionAboutWrapper .aboutBlock h4 {
    font-weight: 700;
    color: #212529;
    margin-bottom: 1rem;
    font-size: 14px;
}

.sectionAboutWrapper .aboutBlock p {
    font-weight: 500;
    color: #adb5bd;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 12px;
    line-height: 24px;
}

.sectionAboutWrapper .cardBody {
    display: flex;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.sectionAboutWrapper .cardBody i {
    color: #adb5bd;
    margin-right: 1rem;
    font-size: 25px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.sectionAboutWrapper .cardBody h4 {
    font-weight: 700;
    color: #212529;
    margin-top: 0;
    font-size: 12px;
}

.sectionAboutWrapper .cardBody h4 span {
    font-weight: 500;
    color: #adb5bd;
    margin-top: 0.25rem;
    display: block;
    font-size: 12px;
    line-height: 1.4;
}