.sectionAboutWrapper {
    width: 215px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border-radius: 15px !important;
}

.sectionAboutWrapper .aboutBlock {
    padding: 1.5rem;
}

.sectionAboutWrapper .aboutBlock .iconBtn {
    margin: 2px;
    padding: 2px;
}

.sectionAboutWrapper .aboutBlock .ico {
    font-size: 14px;
}

.sectionAboutWrapper .aboutBlock h4 {
    font-weight: 700;
    color: #212529;
    font-size: 14px;
}

.sectionAboutWrapper .aboutBlock p {
    font-weight: 500;
    color: #adb5bd;
    font-size: 12px;
}

.sectionAboutWrapper .cardBody {
    display: flex;
    padding: 1rem 1rem;
}

.sectionAboutWrapper .cardBody i {
    color: #adb5bd;
    margin-right: 1rem;
    font-size: 25px;
}

.sectionAboutWrapper .cardBody h4 {
    font-weight: 700;
    color: #212529;
    margin-top: 0;
    font-size: 12px;
}

.sectionAboutWrapper .cardBody h4 span {
    font-weight: 500;
    color: #adb5bd;
    margin-top: 0.25rem;
    display: block;
    font-size: 12px;
}