.profileHeaderWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px !important;
    width: 60rem;
    height: 350px;
    padding: 0;
    box-shadow: 0 8px 30px rgb(0 0 0 / 5%);
    margin-right: 62px;
}

.profileHeaderWrapper .profileHeaderImage {
    padding: 0;
    margin: 1rem;
    overflow: hidden;
    flex: 1 1 auto;
    border-radius: 15px;
}

.profileHeaderWrapper .avatarBlock {
    padding: 0;
    position: relative;
}

.profileHeaderWrapper .avatarBlock figure {
    position: absolute;
    top: -40px;
    left: 30px;
    width: 100px;
    height: 100px;
    margin: 0 0 1rem;
}

.profileHeaderWrapper .avatarBlock figure .avatarContainer {
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0.25rem;
    width: 100%;
    height: 100%;
    float: right;
    vertical-align: middle;
}

.profileHeaderWrapper .avatarBlock figure .avatar {
    width: 100%;
    height: 100%;
}

.profileHeaderWrapper .avatarBlock h4 {
    font-weight: 700;
    margin-top: 0.5rem;
    padding-left: 150px;
    font-size: 20px;
    line-height: 1.2;
    color: #111;
}

.profileHeaderWrapper .avatarBlock span {
    font-weight: 500;
    color: #adb5bd;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    display: block;
    font-size: 12px;
}

@media (max-width: 1280px) {
    .profileHeaderWrapper {
        width: 50rem;
    }
}