.dialogs .messages .message {
    padding: 1rem 5rem 1rem 1.5rem;
    /*margin: 1rem 0; !* can fix card locate *!*/
    width: 557px;
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgb(155, 39, 175);
    margin-bottom: 15px;
}
